name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:

    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install System Dependencies
      run: |
        sudo apt update
        sudo apt install -y \
        build-essential \
        git \
        zip \
        unzip \
        openjdk-17-jdk \
        python3-pip \
        autoconf \
        libtool \
        pkg-config \
        zlib1g-dev \
        libncurses5-dev \
        libncursesw5-dev \
        libtinfo5 \
        cmake \
        libffi-dev \
        libssl-dev

    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install cython==0.29.33
        pip install buildozer
        pip install python-for-android

    - name: Initialize Buildozer
      run: buildozer init || true

    - name: Build APK
      run: |
        buildozer android debug --no-cache

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: APK
        path: bin/*.apk
